body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  text-wrap: nowrap;
  background-color: var(--bs-secondary-bg);
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  min-height: 100vh;
}

/* Start Sidebar Expand */

#side-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  min-width: 76px;
  width: 280px;
  background-color: var(--bs-body-bg) !important;
  gap: 24px;
  box-shadow: 0px 16px 44px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#side-bar-top {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

#side-bar-title {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 7px;
}

#side-bar-title p {
  font-weight: 600;
  font-size: 20px;
  margin: auto 0px;
}

.side-bar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 12px 16px;
  background-color: var(--bs-body-bg);
  border: none;
  cursor: pointer;
  border-radius: 99px;
  flex-grow: 1;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  color: var(--bs-tertiary-color);
}

.side-bar-btn svg {
  stroke: var(--bs-tertiary-color);
}

.side-bar-btn:hover {
  background-color: var(--bs-tertiary-bg);
}

.side-bar-btn:hover,
.side-bar-btn:hover svg {
  color: var(--bs-emphasis-color);
  stroke: var(--bs-emphasis-color);
}

.side-bar-btn-selected {
  background-color: var(--bs-tertiary-bg) !important;
}

.side-bar-btn-selected,
.side-bar-btn-selected svg {
  color: var(--bs-primary) !important;
  stroke: var(--bs-primary) !important;
}

[data-bs-theme="dark"] .side-bar-btn-selected,
.side-bar-btn-selected svg {
  color: var(--bs-emphasis-color) !important;
}

.side-bar-btn svg {
  min-height: 20px;
  min-width: 20px;
}

.side-bar-btn span {
  width: 0px;
  margin: -6px;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.side-bar-btn:hover span {
  width: 4px;
}

.side-bar-btn p {
  margin: auto 0px;
  font-size: 14px;
}

#toggle-dark-mode {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#side-bar-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 24px;
  padding: 0px 24px;
  flex: 1;
  clip-path: margin-box;
}

#side-bar-menu-seperator {
  background-color: #e2e8f0;
  height: 1px;
  margin: 0px -24px;
}

.side-bar-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4px;
  margin: 0px;
  overflow: hidden;
}

#side-bar-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-top: 1px solid #e2e8f0;
}

#side-bar-bottom-menu-not-dropend {
  display: none;
  list-style-type: none;
  flex-direction: column;
  gap: 0px;
  padding: 0px 32px;
  margin-top: 12px;
  border-radius: 12px;
}

#side-bar-bottom-menu-not-dropend li {
  border-radius: 12px;
  padding: 4px 10px;
  background: var(--bs-body-bg);
  transition: all 0.25s cubic-bezier(0.34, 0.56, 0.64, 1);
}

#side-bar-bottom-menu-not-dropend li:hover {
  background-color: var(--bs-tertiary-bg);
}

#side-bar-bottom-menu-not-dropend li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-menu li a {
  transition: all 0.25s cubic-bezier(0.34, 0.56, 0.64, 1);
}

.dropdown-menu li:last-child a,
#side-bar-bottom-menu-not-dropend li:last-child {
  color: var(--bs-danger) !important;
}

.dropdown-menu li:last-child a:hover,
#side-bar-bottom-menu-not-dropend li:hover:last-child {
  background-color: var(--bs-danger-bg-subtle) !important;
}

#side-bar-bottom {
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.34, 0.56, 0.64, 1);
}

#side-bar-bottom:hover {
  background-color: var(--bs-tertiary-bg);
}

#side-bar-bottom svg {
  fill: var(--bs-emphasis-color);
}

#side-bar-user-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.member-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#side-bar-user-picture {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

#side-bar-user-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: start;
  justify-content: center;
}

#side-bar-user-text p {
  margin: 0px;
}

#side-bar-user-text p:first-child {
  font-size: 12px;
}

#side-bar-user-text p:last-child {
  font-size: 14px;
}

/* End Sidebar Expand */

/* Start Sidebar Minimize */

#toggle-side-bar {
  position: absolute;
  display: none;
}

.toggle-side-bar-btn {
  transition: all 0.5s ease;
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-body-bg);
  border: none;
  border-radius: 100px;
  border: 1px solid #e2e8f0;
}

#toggle-side-bar-btn {
  position: absolute;
  top: 24.5px;
  left: 267px;
}
#toggle-side-bar-btn svg {
  fill: var(--bs-emphasis-color);
}

#toggle-side-bar:checked + #side-bar #toggle-side-bar-btn {
  left: 67px;
  z-index: 10;
  transform: rotate(180deg);
}

#toggle-side-bar:checked {
  left: 0px;
}

#toggle-side-bar:checked + #side-bar p {
  opacity: 0%;
}

#toggle-side-bar:checked + #side-bar {
  width: 76px;
}

#toggle-side-bar:checked + #side-bar #side-bar-menu {
  padding: 0px 16px;
}

#toggle-side-bar:checked + #side-bar #side-bar-bottom {
  padding: 24px 16px;
}

#toggle-side-bar:checked + #side-bar .side-bar-btn {
  padding: 12px;
}

/* End Sidebar Minimize */

#the-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  flex: 1;
}

#top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bs-body-bg);
  padding: 14px 40px;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#top-bar h1 {
  font-size: 24px;
  margin: 0px;
}

#top-bar form {
  margin: 0px;
}

#top-bar-logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#top-bar-logout-wrapper p {
  margin: 0px;
  margin-bottom: -2px;
  font-size: 20px;
}

#btn-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 28px;
  gap: 6px;
  border-radius: 10px;
  background-color: var(--bs-body-bg);
  border: none;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  font-size: 20px;
  font-weight: 600;
}

#btn-logout svg {
  fill: var(--bs-emphasis-color);
}

#btn-logout:hover {
  background-color: var(--bs-danger);
  color: var(--bs-body-bg);
}

#btn-logout:hover svg {
  fill: var(--bs-body-bg);
}

#page-content {
  flex: 1;
}

.dropdown-menu {
  top: unset !important;
  bottom: 16px;
}

.modal-header {
  background-color: var(--bs-dark);
  color: white;
}

.modal-footer {
  border: none;
}

.btn {
  border-radius: 30px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn svg {
  fill: var(--bs-btn-color);
  padding: 3px;
}

.btn-outline {
  border: 1px solid var(--bs-emphasis-color);
}

.btn-outline:hover {
  background-color: var(--bs-secondary);
  color: var(--bs-body-bg);
}

.btn-outline:hover svg {
  fill: var(--bs-body-bg);
}
