body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  text-wrap: nowrap;
  background-color: var(--bs-secondary-bg);
  min-height: 100vh;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #4079ed;
}

td,
.dropdown-menu li a,
#side-bar-bottom,
#side-bar-bottom-menu-not-dropend li,
.table-expand-item,
.table-expand,
.toggle-komentar,
#komentar-wrapper,
.form-pengumpulan-upload.has-file,
.pagination {
  transition: all 0.2s cubic-bezier(0.34, 0.56, 0.64, 1);
}

.danger {
  background-color: var(--bs-danger) !important;
}

.warning {
  background-color: var(--bs-warning) !important;
}

.success {
  background-color: var(--bs-success) !important;
}

.primary {
  background-color: var(--bs-primary) !important;
}

.danger-bg {
  background-color: var(--bs-danger-bg-subtle) !important;
}

.warning-bg {
  background-color: var(--bs-warning-bg-subtle) !important;
}

.success-bg {
  background-color: var(--bs-success-bg-subtle) !important;
}

[data-bs-theme="dark"] .danger-bg,
[data-bs-theme="dark"] .warning-bg,
[data-bs-theme="dark"] .success-bg {
  background-color: var(--bs-tertiary-bg) !important;
}

/* Start Sidebar Expand */

#side-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  min-width: 76px;
  width: 280px;
  background-color: var(--bs-body-bg) !important;
  gap: 24px;
  box-shadow: 0px 16px 44px 0px rgba(0, 0, 0, 0.07);
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#side-bar-top {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

#side-bar-title {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 7px;
}

#side-bar-title p {
  font-weight: 600;
  font-size: 20px;
  margin: auto 0px;
}

.side-bar-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 12px 16px;
  background-color: var(--bs-body-bg);
  border: none;
  cursor: pointer;
  border-radius: 99px;
  flex-grow: 1;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  color: var(--bs-tertiary-color);
}

.side-bar-btn svg {
  stroke: var(--bs-tertiary-color);
}

.side-bar-btn:hover {
  background-color: var(--bs-tertiary-bg);
}

.side-bar-btn:hover,
.side-bar-btn:hover svg {
  color: var(--bs-emphasis-color);
  stroke: var(--bs-emphasis-color);
}

.side-bar-btn-selected {
  background-color: var(--bs-tertiary-bg) !important;
}

.side-bar-btn-selected,
.side-bar-btn-selected svg {
  color: var(--bs-primary) !important;
  stroke: var(--bs-primary) !important;
}

[data-bs-theme="dark"] .side-bar-btn-selected,
.side-bar-btn-selected svg {
  color: var(--bs-emphasis-color) !important;
}

.side-bar-btn svg {
  min-height: 20px;
  min-width: 20px;
}

.side-bar-btn span {
  width: 0px;
  margin: -6px;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.side-bar-btn:hover span {
  width: 4px;
}

.side-bar-btn p {
  margin: auto 0px;
  font-size: 14px;
}

#toggle-dark-mode {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#side-bar-menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 24px;
  padding: 0px 24px;
  flex: 1;
  clip-path: margin-box;
}

#side-bar-menu-seperator {
  background-color: #e2e8f0;
  height: 1px;
  margin: 0px -24px;
}

.side-bar-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 4px;
  margin: 0px;
  overflow: hidden;
}

#side-bar-bottom-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-top: 1px solid #e2e8f0;
}

#side-bar-bottom-menu-not-dropend {
  display: none;
  list-style-type: none;
  flex-direction: column;
  gap: 0px;
  padding: 0px 32px;
  margin-top: 12px;
  border-radius: 12px;
}

#side-bar-bottom-menu-not-dropend li {
  border-radius: 12px;
  padding: 4px 10px;
  background: var(--bs-body-bg);
}

#side-bar-bottom-menu-not-dropend li:hover {
  background-color: var(--bs-tertiary-bg);
}

#side-bar-bottom-menu-not-dropend li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown-menu li:last-child a,
#side-bar-bottom-menu-not-dropend li:last-child {
  color: var(--bs-danger) !important;
}

.dropdown-menu li:last-child a:hover,
#side-bar-bottom-menu-not-dropend li:hover:last-child {
  background-color: var(--bs-danger-bg-subtle) !important;
}

#side-bar-bottom {
  display: flex;
  flex-direction: row;
  padding: 24px;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  cursor: pointer;
}

#side-bar-bottom:hover {
  background-color: var(--bs-tertiary-bg);
}

#side-bar-bottom svg {
  fill: var(--bs-emphasis-color);
}

#side-bar-user-info {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.member-picture {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.member-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#side-bar-user-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: stretch;
  justify-content: center;
  width: 145px;
}

#side-bar-user-text p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#side-bar-user-text p:first-child {
  font-size: 12px;
}

#side-bar-user-text p:last-child {
  font-size: 14px;
}

/* End Sidebar Expand */

/* Start Sidebar Minimize */

#toggle-side-bar {
  position: absolute;
  display: none;
}

.toggle-side-bar-btn {
  transition: all 0.5s ease;
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-body-bg);
  border: none;
  border-radius: 100px;
  border: 1px solid #e2e8f0;
}

#toggle-side-bar-btn {
  position: absolute;
  top: 24.5px;
  left: 267px;
}

#toggle-side-bar-btn svg {
  fill: var(--bs-emphasis-color);
}

#toggle-side-bar:checked + #side-bar #toggle-side-bar-btn {
  left: 67px;
  z-index: 10;
  transform: rotate(180deg);
}

#toggle-side-bar:checked {
  left: 0px;
}

#toggle-side-bar:checked + #side-bar p {
  opacity: 0%;
}

#toggle-side-bar:checked + #side-bar {
  width: 76px;
}

#toggle-side-bar:checked + #side-bar #side-bar-menu {
  padding: 0px 16px;
}

#toggle-side-bar:checked + #side-bar #side-bar-bottom {
  padding: 24px 16px;
}

#toggle-side-bar:checked + #side-bar .side-bar-btn {
  padding: 12px;
}

/* End Sidebar Minimize */

#right-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  flex: 1;
  width: calc(100vw - 280px);
}

#toggle-side-bar:checked ~ #right-section {
  width: calc(100vw - 76px);
}

#top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bs-body-bg);
  padding: 14px 40px;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#top-bar h1 {
  font-size: 24px;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#top-bar form {
  margin: 0px;
}

#top-bar-logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#top-bar-logout-wrapper p {
  margin: 0px;
  margin-bottom: -2px;
  font-size: 20px;
}

#btn-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 28px;
  gap: 6px;
  border-radius: 10px;
  background-color: var(--bs-body-bg);
  border: none;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  font-size: 20px;
  font-weight: 600;
}

#btn-logout svg {
  fill: var(--bs-emphasis-color);
}

#btn-logout:hover {
  background-color: var(--bs-danger);
  color: var(--bs-body-bg);
}

#btn-logout:hover svg {
  fill: var(--bs-body-bg);
}

.dropdown-menu {
  top: unset !important;
  bottom: 16px;
}

.modal-header {
  background-color: var(--bs-dark);
  color: white;
}

.modal-footer {
  border: none;
}

.btn {
  border-radius: 30px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn svg {
  fill: var(--bs-btn-color);
  padding: 3px;
}

.btn-outline {
  border: 1px solid var(--bs-emphasis-color);
}

.btn-outline:hover {
  background-color: var(--bs-secondary);
  color: white;
}

.btn-outline:hover svg {
  fill: white;
}

.btn-primary svg,
.btn-danger svg {
  padding: 0px;
}

.btn-icon {
  width: 42px;
  height: 42px;
  padding: 8px;
}

.btn-icon:hover {
  background-color: var(--bs-secondary);
}

.btn-icon:hover svg {
  fill: white !important;
  stroke: white !important;
}

/* Start card-status */
.card-status {
  background-color: var(--bs-body-bg);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
  padding: 24px 50px;
  border-radius: 12px;
  width: fit-content;
}

.card-status h2 {
  font-size: 20px;
}

.card-status-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 32px;
  flex-wrap: wrap;
}

.card-status-content {
  min-width: 180px;
  min-height: 184px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 12px;
  border-radius: 16px;
  padding: 16px;
  background-color: var(--bs-tertiary-bg);
}

.card-status-content h1 {
  font-size: 24px;
}

.card-status-content h3 {
  font-size: 16px;
}

.card-status-content a {
  font-size: 12px;
}

.card-status-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 100%;
  background-color: var(--bs-danger);
}

.card-status-icon svg {
  fill: white;
  width: 24px;
  height: 24px;
  min-width: 24px;
}

/* End card-status */

/* Start status-badge */
.status-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 32px;
  gap: 10px;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
}

.status-badge-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 100%;
  background-color: var(--bs-danger);
}

.status-badge-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--bs-warning);
  height: 32px;
  min-width: 32px;
  font-size: 16px;
  padding-top: 3px;
  color: white;
}

.status-badge-text.slim {
  width: 50px;
  height: 24px;
  border-radius: 12px;
}

.status-badge-icon svg {
  fill: white;
  height: 12px;
  width: 12px;
}

.btn-badge {
  padding: 0px 8px;
  border: none;
}

.btn-badge:hover .status-badge.success-bg {
  background-color: var(--bs-success) !important;
}

.btn-badge:hover .status-badge.danger-bg {
  background-color: var(--bs-danger) !important;
}

.btn-badge:hover .status-badge {
  color: white;
}

.btn-badge .status-badge {
  font-size: 16px;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.btn-badge .status-badge-icon svg {
  height: auto;
  width: auto;
}

/* End status-badge */

/* Start page-content */
#page-content {
  flex: 1;
  overflow: auto;
  max-width: 100vw;
  max-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  padding: 24px 42px;
}

#page-content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

#page-content-top h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#page-content-top-right {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: start;
}

#page-content-top-right form,
#page-content-top-right div {
  height: fit-content;
}

#page-content-top-right input,
#page-content-top-right select {
  border-left: none !important;
}

#page-content-top-right svg {
  height: 16px;
  fill: var(--bs-tertiary-color);
}

.input-group{
  flex-wrap: nowrap;
}

.input-group-text {
  font-size: 0.75em;
  padding: 14px;
  background-color: var(--bs-body-bg);
}

#page-content-top-right .form-control,
#page-content-top-right .form-select,
#nav-pagination .form-select {
  border: var(--bs-border-width) solid var(--bs-border-color);
  box-shadow: none !important;
}

/* End page-content */

/* Start Table */

#table-wrapper {
  background-color: var(--bs-body-bg);
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 0px;
}

#table-wrapper .table {
  margin-top: 24px;
}

#table-wrapper .table thead {
  position: sticky;
  top: 0;
  z-index: 100;
}

#table-wrapper tr:not(.table-active) + tr .table-expand-wrapper {
  padding: 0px;
  pointer-events: none;
  opacity: 0;
  border: none;
}

#table-wrapper tr.table-active + tr td .table-expand {
  max-height: 700px !important;
}

.table-expand {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0px;
  /* transition: all 0.8s ease-out; */
  clip-path: view-box;
}

.table-expand-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-top: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
  padding: 12px 64px;
}

.table-expand-item:hover.table-expand-item-hoverable {
  background-color: var(--bs-tertiary-bg);
  cursor: pointer;
}

.table-expand-item p {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.table-expand-item #table-expand-item {
  gap: 30px;
}

.table-expand-item #action {
  gap: 14px;
}

.table-hover > tbody > tr:hover td {
  cursor: pointer;
}

.table-hover > tbody > tr:hover > .table-expand-wrapper {
  --bs-table-color-state: var(--bs-table-hover-color);
  --bs-table-bg-state: transparent;
  cursor: default;
}

/* End Table */

/* Start Pengumpulan User */

#pengumpulan-page h1 {
  font-size: 36px;
}

#pengumpulan-page h2 {
  font-size: 22px;
  font-weight: bold;
}

#pengumpulan-page h3 {
  font-size: 20px;
  font-weight: bold;
}

#pengumpulan-page h4 {
  font-size: 16px;
  font-weight: bold;
}

#total-tanggungan,
#page-content-bottom,
#list-dokumen-wrapper,
#form-pengumpulan-item {
  background-color: var(--bs-body-bg);
  border-radius: 12px;
  padding: 24px;
}

#form-pengumpulan {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

#total-tanggungan,
#list-dokumen-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#list-dokumen-wrapper {
  overflow-y: auto;
}

#total-tanggungan-top .flex-row {
  gap: 16px;
}

#form-pengumpulan-item-header .flex-row {
  gap: 8px;
}

#list-dokumen {
  border-radius: 12px;
  clip-path: view-box;
}

.list-dokumen-item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  padding: 15px 24px;
  gap: 30px;
  background-color: var(--bs-tertiary-bg);
}

.list-dokumen-item svg {
  height: 16px;
  width: 16px;
}

.list-dokumen-item p {
  font-size: 20px;
  font-weight: 500;
}

#page-content-middle {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: stretch;
  width: 100%;
  gap: 16px;
  overflow-y: auto;
}

#page-content-middle-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 75%;
  max-height: 100%;
  overflow-y: auto;
}

#pengumpulan-page h2,
#page-content-middle h3,
#page-content-middle h4,
#page-content-middle h5,
#page-content-middle p {
  margin: auto 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#form-pengumpulan-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#form-pengumpulan-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

#form-pengumpulan-upload-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-pengumpulan-upload {
  min-height: 62px;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px dashed var(--bs-emphasis-color);
  border-spacing: 5px;
  cursor: pointer;
}

.form-pengumpulan-upload.has-file #upload-placeholder {
  display: none;
}

.form-pengumpulan-upload.has-file {
  border: none;
  background-color: var(--bs-tertiary-bg);
}

.form-pengumpulan-upload.has-file:hover {
  background-color: var(--bs-secondary-bg);
}

.form-pengumpulan-upload.has-file #upload-terlampir-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 62px;
  padding: 10px;
}

#upload-terlampir,
#upload-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.toggle-komentar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 6px;
  gap: 10px;
  padding: 6px 8px;
  padding-left: 0px;
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-komentar:hover {
  background-color: var(--bs-secondary-bg);
}

.toggle-komentar svg {
  fill: var(--bs-emphasis-color);
}

.toggle-komentar:not(.komentar-expand) + #komentar-wrapper {
  padding: 0px;
  pointer-events: none;
  opacity: 0;
  border: none;
  max-height: 0px;
  overflow: hidden;
}

.toggle-komentar.komentar-expand + #komentar-wrapper {
  max-height: 200px !important;
}

#komentar-people {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

#komentar-people svg {
  padding-left: 12px;
}

#komentar-text-wrapper {
  padding-left: 54px;
}

#page-content-bottom {
  padding: 12px 24px;
  margin-top: -12px;
}

/* End Pengumpulan User */

/* Start jam card */

.jam-card {
  background-color: var(--bs-body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Pusatkan secara horizontal */
  justify-content: center;
  /* Pusatkan secara vertikal */
  padding: 24px;
  border-radius: 12px;
  height: 300px;
  text-align: center;
  /* Pusatkan teks */
}

.jam-card-content h1 {
  font-size: clamp(1rem, 3.5vw, 5rem);
  /* Responsif untuk title */
  margin: 0;
  color: var(--bs-emphasis-color-rgb);
}

.jam-card-content h3 {
  font-size: clamp(0.5rem, 1.5vw, 4rem);
  /* Responsif untuk subtitle */
  margin: 0;
  color: rgba(var(--bs-emphasis-color-rgb), 0.75);
}

.jam-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Pusatkan secara vertikal di dalam konten */
  align-items: center;
  /* Pusatkan secara horizontal di dalam konten */
  gap: 16px;
  /* Jarak antar elemen */
}

/* End jam card */

/* Start Pagination */

#nav-pagination .w-25 {
  max-width: 200px !important;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 7px;
}

.pagination-number,
.pagination-nextprev {
  cursor: pointer;
  display: flex;
}

.pagination-span {
  cursor: default;
  display: none;
}

.pagination-number,
.pagination-span,
.pagination-nextprev {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.pagination .pagination-number:not(.pagination-active):hover,
.pagination-nextprev:hover {
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.5);
  color: var(--bs-body-bg);
}

.pagination-active {
  background-color: var(--bs-emphasis-color);
  color: var(--bs-body-bg);
  cursor: default !important;
}

/* End Pagination */
